.root {
  --hover-shadow: cubic-bezier(10,0,0,1);
}

.landing-body {
    display: flex;
    flex-direction: column;
    .flex-center {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .flex-grow {
      flex-grow: 1;
    }
    .Header_logo {
      display: flex;
        border: 1px solid black;
        height: 80px;
        width: 100%;
        .logo {
          border: 1px solid black;
        }
      .schedule {
        border: 1px solid black;
      }
        .user-lang {
          display: flex;
          justify-content: space-between;
          border: 1px solid black;
          width: 20vw;
          padding: 0px 50px 0px 0px;
          .user-container {
            border: 1px solid #dddddd;
            //padding: 5px 5px 5px 12px;
            width: 77px;
            height: 42px;
            border-radius: 21px;
            transition: box-shadow 0.2s var(--hover-shadow);
          }
          .user-container:hover {
            //border: 1px solid black;
            box-shadow: 0 2px 4px rgba(0,0,0,0.18);
            //transition: box-shadow 0.2s var(--hover-shadow);
          }
      }
      .landing-nav {
        border: 1px solid black;
        height: 100px;
      }
  }
}